<ol class="list-group">
  <app-item-cv (selectedPersonne)="selectPersonne($event)" [itemPersonne]="personnesListe[0]"></app-item-cv>
  <app-item-cv (selectedPersonne)="selectPersonne($event)" [itemPersonne]="personnesListe[1]"></app-item-cv>
  <app-item-cv (selectedPersonne)="selectPersonne($event)" [itemPersonne]="personnesListe[2]"></app-item-cv>
</ol>
