<div class="row">
  <div class="col-md-6 col-sm-3">
    <app-liste-cv (selectedPersonList)="selectedPersonList($event)" [personnesListe]="personnes"></app-liste-cv>
  </div>
  <div class="col-md-6 col-sm-9">
    <app-detail-cv  [personne]="selectedPersonne"></app-detail-cv>
  </div>
</div>
